.ciudad{
    width: 400px;
}

.b{
    display: flex;
    justify-content: center;
    
}
.a{
    margin-left: 5px;
}
.container{
   background-color: rgba(0, 0, 0, 0.235);
   padding-top: 5px;
   font-size: 20px;
}
.h{
    display: flex;
    justify-content: center;
  
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_960_720.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    width: 200px;
    padding: 8px;
    margin-top: 10px;
}